.fc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins.ttf');
}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/OpenSans.ttf');
}