.one_doctor {
  width: 80%;
  /* margin: auto; */
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3rem;
  margin-bottom: 5rem;
  justify-items: center;
  justify-content: center;
  align-items: center;


  img {
    height:15;
    width: 15rem;
    border-radius: 5px;

    object-fit: cover;
  }
  
  div {

    .title {
      font-size: 1.75rem;
      margin-bottom: .25rem;
      font-weight: 600;
    }
    .designation {
      font-size: .9rem;
      font-weight: 600;
      margin-bottom: 1rem;
      opacity: 0.8;
      font-weight: 600;
    }

    .content {
      padding-right: 5rem;
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 1000px) {
  .one_doctor {
    grid-template-columns: 1fr 1fr;
    width: 100%;

    img{
        height: 50vw;
        width: 50vw;
    }

    div{

        .title{
            font-size: 2rem;
        }

        .content{
          padding-right: 0;
          text-align: justify;
        }
    }

  }
}

@media (max-width: 600px) {
    .one_doctor {
      grid-template-columns: 1fr;
      gap: 1rem;

      img{
        width: 90vw;
        height: 90vw;
      }
  
    }
  }