#home_container {
  #home__lineOne {
    position: relative;
    #image_here {
      width: 100%;
      min-height: 25rem;

      background-color: red;
      background-image: url("/images/home2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 10% 30%;
      background-color: rgba(255, 255, 255, 0.1);
      background-blend-mode: lighten;

      border-radius: 5px;
      filter: blur(1px);
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    &:before {
      opacity: 1;
    }

    /* Position text in the middle of the page/image */
    .bg-text {
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 60%;
      padding: 20px;
      text-align: center;

      h1 {
        font-size: 3rem;
        font-weight: 600;
      }
      h4 {
        font-size: 1.5rem;
        color: #1adf1a;
        color: #51c537;
        color: whitesmoke;
      }
    }
  }
}


