.fr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("Nunito.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
}

.page_container {
  width: 100%;
  padding: 1vw 5vw;
}

#navbar a.active {
  /* text-decoration: underline !important; */
  /* color: whitesmoke !important; */
  font-weight: 600;
}

@media (max-width: 1000px) {
  /* Navbar */
  #nav_links nav{
    display: none !important;
  }

  #navbar div {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div{
      display: flex;
      flex-direction: row;
      white-space: nowrap;

      a{
        padding: .5rem .75rem;
        font-size: 1rem;
      }
      
    }
  }

  /* Contact Us */
  #lineOne{
    img{
      width: 90vw !important;
      height: 90vw !important;
    }
  }
  #lineTwo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem !important;

    #address{
      padding-left: 0rem !important ;
    }

    #hours {
      width: 100% !important;
      div{
        span:first-child{
          width: 30%;
        }
      }
    }

  }


  /* Resources */
  #forms_container{
    flex-direction: column;
    gap: 3rem;
    padding-left: 2rem !important;

    div{
      width: 100% !important;
    }
  }
}

#video_resources{
  iframe{
    width: 90vw !important;
    height: 50.23vw !important;
  }
}

@media (max-width: 600px) {
}
