.fr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/Nunito.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

.page_container {
  display: block;
  width: 100%;
  padding: 1vw 5vw;
  background-color: #fff;
  flex: 1;
  padding-bottom: 3rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

#navbar a.active {
  /* text-decoration: underline !important; */
  /* color: whitesmoke !important; */
  font-weight: 600;
}

@media (max-width: 1000px) {
  /* Navbar */
  #nav_links nav{
    display: none !important;
  }

  #navbar div {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div{
      display: flex;
      flex-direction: row;
      white-space: nowrap;

      a{
        padding: .5rem .75rem;
        font-size: 1rem;
      }
      
    }
  }

  /* Contact Us */
  #lineOne{
    img{
      width: 90vw !important;
      height: 90vw !important;
    }
  }
  #lineTwo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem !important;
    font-size: 1rem;

    #address{
      width: 100% !important;
      padding-left: 0rem !important ;
    }

    #hours {
      width: 100% !important ;
      div{
        span:first-child{
          width: 30%;
        }
      }
    }

  }


  /* Resources */
  #forms_container{
    flex-direction: column;
    gap: 3rem;
    padding-left: 2rem !important;
    grid-template-columns: 1fr !important;

    div{
      width: 100% !important;
    }
  }
  
  #video_resources{
    .row-cont{
      flex-direction: column;

      .frame{
        width: 100% !important;
        height: 80% !important;
      }
    }
  }

  /* Homepage */
  #home_container {
    .bg-text{
      width: 80% !important;
      h1{
        font-size: 2rem !important;
      }
      h4{
        font-size: 1.2rem !important;
      }
    }
  }

  /* Insuracne */
  #insurance_container{
    #insurance_lineOne{
      flex-direction: column;
      width: 100%;

      #insurance_image{
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
}
