.fr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/Nunito.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

.page_container {
  display: block;
  width: 100%;
  padding: 1vw 5vw;
  background-color: #fff;
  flex: 1;
  padding-bottom: 3rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

#navbar a.active {
  /* text-decoration: underline !important; */
  /* color: whitesmoke !important; */
  font-weight: 600;
  border-bottom: 1px solid green;
}

@media (max-width: 1000px) {
  /* Navbar */
  #nav_links {
    margin-top: 0.5rem;
    nav {
      /* display: none !important; */
      flex-direction: column;
      height: unset;
      gap: 0.5rem;
      padding: 0.5rem 0;
      margin-top: 0.5rem;
    }
  }

  #navbar_appointment {
    display: flex;
    justify-content: end !important;
    width: 100%;
  }

  #navbar {
    margin-bottom: 0rem;
  }

  #navbar > div {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: row;
      white-space: nowrap;

      a {
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
      }
    }
  }
  #mobile_navbar a.active,
  #mobile_nav a.active {
    /* text-decoration: underline !important; */
    /* color: whitesmoke !important; */
    font-weight: 800;
    border-bottom: 3px solid green !important;
    border-radius: 3px;
  }

  /* Contact Us */
  #lineOne {
    img {
      width: 90vw !important;
      height: 90vw !important;
    }
  }
  #lineTwo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem !important;
    font-size: 1rem;

    #address {
      width: 100% !important;
      padding-left: 0rem !important ;
    }

    #hours {
      width: 100% !important ;
      div {
        span:first-child {
          width: 30%;
        }
      }
    }
  }

  /* Resources */
  #forms_container {
    flex-direction: column;
    gap: 3rem;
    padding-left: 2rem !important;
    grid-template-columns: 1fr !important;

    div {
      width: 100% !important;
    }
  }

  #video_resources {
    .row-cont {
      flex-direction: column;

      .frame {
        width: 100% !important;
        height: 80% !important;
      }
    }
  }

  /* Homepage */
  #home_container {
    .bg-text {
      width: 80% !important;
      h1 {
        font-size: 2rem !important;
      }
      h4 {
        font-size: 1.2rem !important;
      }
    }
  }

  /* Insuracne */
  #insurance_container {
    #insurance_lineOne {
      flex-direction: column;
      width: 100%;

      #insurance_image {
        width: 100%;
      }
    }
  }

  #navbar {
    #mobile_menu {
      display: block;
    }

    /* #navbar_appointment{
      width: 100%;    
      display: flex;
      justify-content: end !important; 
    } */
  }
}

@media (max-width: 600px) {
  #navbar_appointment {
    justify-content: space-between !important;
  }

  #request_container {
    #line_one {
      flex-direction: column;
      gap: 1rem;
      & input {
        width: 100% !important;
      }
    }
  }
}

.media_icons {
  height: 1.75rem;
  width: 1.75rem;
}

#mobile_menu {
  display: none;
  height: 1.75rem;
  width: 1.75rem;
  background-size: contain;
  background-repeat: no-repeat;
}

#navbar_appointment {
  display: flex;
  gap: 1rem !important;
}

#mobile_nav {
  width: 100%;
  background-color: #eef4ec;
  border-radius: 3px;
  padding: 0 1.5rem;
  display: flex;

  nav {
    overflow-x: hidden;
    width: 100%;
    padding: 0.5rem 1rem;
    
    justify-content: space-between;
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 3px;

    &:hover {
      overflow-x: auto;
    }

    a {
      font-size: 1.25rem;
      white-space: nowrap;
      font-family: "Nunito Sans" !important;

      text-decoration: none;
      color: darkgreen;
      font-family: "Poppins";
      font-weight: 500;
      font-size: 1.1rem;
      text-transform: uppercase;
    }
  }

  nav:hover {
    overflow-x: auto;
  }
}
