:root {
  --bg-primary: rgba(236, 243, 237, 0.932);
  --bg-seconday: #669a5a;
  --bg-third: #a5b5ad;

  --color-dark: rgb(83, 79, 79);
  --color-text: rgb(85, 76, 76);
  --color-light: white;

  --bg-slicespace: #f4f6f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid red; /* for debugging */
}

html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  min-height: 360px;
  color: var(--color-dark);
  background-color: var(--bg-slicespace);

  /* pattern 1 */
  /* background-color: #e5e5f7;
  background-image: linear-gradient(135deg, #cbf095 25%, transparent 25%),
    linear-gradient(225deg, #cbf095 25%, transparent 25%),
    linear-gradient(45deg, #cbf095 25%, transparent 25%),
    linear-gradient(315deg, #cbf095 25%, #e5e5f7 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat; */

  /* patter 2 */
  background-color: #eceee0;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #eceee0 10px
    ),
    repeating-linear-gradient(#dbeccc55, #dbeccc);

  font-family: "Nunito Sans", sans-serif;

  #root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    #main_container {
      background-color: #fff;
      width: 100%;
      height: 100%;
      max-width: 1440px;

      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
