.header{
    width: 100%;
    font-family: 'Poppins';
    font-weight: 800;
    letter-spacing: 1px;
    color: #3B3C36;
    color: #008080;
    background-color: #FFFFFF;
    background-color: #F5F5F5;
}

.header .italic {
    font-family: 'Montserrat';
    font-weight: 600;
}