.container {
  width: 100%;

  /* height: 100%; */
  color: var(--bg-seconday);

  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 1rem;
  background-color: whitesmoke;
  padding-bottom: 1rem;

  .lineOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    width: 100%;

    .title_and_logo {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex: 1;

      .page_logo {
        width: 5rem;
        height: 5rem;
        margin-right: 0.75rem;

        background-image: url("/images/logo_4.svg");
        background-repeat: no-repeat;
        background-position: 50% 10%;
        background-size: cover;
      }

      h2 {
        flex: 1;
        min-width: 30%;
        padding: 1rem 0rem;
        font-size: 2rem;
        /* text-transform: uppercase; */
        white-space: wrap;
        font-family: "Nunito Sans";
        letter-spacing: 2px;
        font-weight: 700;
        word-spacing: 6px;
        text-transform: uppercase;
      }
    }

    a {
      background-color: var(--bg-seconday);
      padding: .75rem 1.5rem;
      font-size: 1.1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      word-spacing: 4px;
      font-family: "Nunito Sans";
      margin-right: 0rem;
      border-radius: 3px;
      border: 1px solid var(--bg-seconday);
      color: white;
    }

    .call_us {
      background-color: white;
      border: 1px solid var(--bg-seconday);
      color: var(--bg-seconday);
      font-weight: 800;
      border-radius: 3px;
    }
  }
  .lineTwo {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    background-color: #ecf1ef;
    background-color: white;
    border-radius: 5px;
    letter-spacing: 1px;

    nav {
      height: 3rem;
      width: 100%;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;

      a {
        text-decoration: none;
        color: darkgreen;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 1.1rem;
        text-transform: uppercase;

        &:hover {
          /* text-decoration: underline; */
          border-bottom: 1px solid green;
        }
      }
    }
  }

  .line_three{
    width: 100%;
    height: 2.75rem;
    margin-top: 1rem;
    background-color: white !important;
    overflow-x: auto;
    /* border: 1px solid var(--bg-seconday); */
    border-radius:3px ;
    
    nav{
      width: 100%;
      padding: 0 1rem;
      padding-right: 3rem;
      justify-content: flex-start;
      display: flex;
      gap: 2.5rem;   
      flex-wrap: nowrap;   
      align-items: center;
      border-radius: 3px;
      
      

      a{
        font-size: 1.25rem;
        white-space: nowrap;
        font-family: 'Nunito Sans' !important;

        text-decoration: none;
        color: darkgreen;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 1.1rem;
        text-transform: uppercase;
        


      }

    }

   
  }
}


