.container {
  width: 100%;
  color: var(--bg-seconday);
  min-height: 5rem;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 2rem;

  
  .lineOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: none;

    h2 {
    
      flex: 1;
      min-width: 50%;
      padding: 1rem 0rem;
      font-size: 2rem;      
      /* text-transform: uppercase; */
      white-space: wrap;
      font-family: "Nunito";
      letter-spacing: 2px;
      font-weight: 700;
      word-spacing: 6px;
      text-transform: uppercase;
    }
    
    

    a{
        color: white;
        background-color: var(--bg-seconday);
        padding: 1rem 2rem;
        font-size: 1.1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        word-spacing: 4px;
        font-family: 'Nunito';
        margin-right: 1rem;
        border-radius: 10px;
        border: 3px solid var(--bg-seconday);
    }

    .call_us{
      background-color: initial;
      border: 3px solid var(--bg-seconday);
      color: var(--bg-seconday);
      font-weight: 800;
      border-radius: 10px;
    }
  }
  .lineTwo {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    background-color: #d7e9e0;

    nav {
      
      height: 3rem;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-right: 3rem;
      gap: 5vw;

      a {
        text-decoration: none;
        color: darkgreen;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 1.25rem;
        text-transform: uppercase;      
        
        &:hover{
            text-decoration: underline;
        }
      }
    }
  }


}


