.container {
  width: 100%;
  
  /* height: 100%; */
  color: var(--bg-seconday);
  
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 1rem;
  background-color: whitesmoke;
  padding-bottom: 2rem;
  
  
  .lineOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: none;

    .title_and_logo{

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex: 1;

      .page_logo{
        width: 5rem;
        height: 5rem;        
        margin-right: 0.5rem;

        background-image: url('/images/logo_4.svg');
        background-repeat: no-repeat;
        background-position: 50% 10%;
        background-size: cover;
      }

      h2 {
    
        flex: 1;
        min-width: 30%;
        padding: 1rem 0rem;
        font-size: 2rem;      
        /* text-transform: uppercase; */
        white-space: wrap;
        font-family: "Nunito Sans";
        letter-spacing: 2px;
        font-weight: 700;
        word-spacing: 6px;
        text-transform: uppercase;
      }
  
      
    }

   
    
    

    a{
      background-color: var(--bg-seconday);
      padding: 1rem 2rem;
      font-size: 1.1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      word-spacing: 4px;
      font-family: 'Nunito Sans';
      margin-right: 1rem;
      border-radius: 10px;
      border: 3px solid var(--bg-seconday);
      color: white;
    }

    

    .call_us{
      background-color: white;
      border: 3px solid var(--bg-seconday);
      color: var(--bg-seconday);
      font-weight: 800;
      border-radius: 10px;
    }
  }
  .lineTwo {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    background-color: #ecf1ef;
    background-color: white;
    border-radius: 5px;

    nav {
      
      height: 3rem;
      width: 100%;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      

      a {
        text-decoration: none;
        color: darkgreen;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 1.1rem;
        text-transform: uppercase;      
        
        &:hover{
            text-decoration: underline;
        }
      }
    }
  }


}


